/**
 * Index page styles
 */

.index-section {
 margin-bottom: 40px;

 p {
   width: 60%;
   margin-bottom: 0;
   font-size: 1.3rem;

   @media screen and (max-width: $on-palm) {
    width: 100%; 
    padding-top: 10px;
   }
 }

 a {
   color: black;

   h3 {
     margin-bottom: 1rem;
     color: #1EAEDB; }

   .class-box {
     margin-bottom: 2rem;
     border-radius: 5px;
     padding: 2rem;
     border: 1px solid #eee;
     position: relative;

     .status { font-weight: 700; }

     transition: all .3s ease-in-out;

     &:hover, &:active {
       background-color: #eee; }
   }
 }
}

.main-area {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  #class-boxes {
    box-sizing: border-box;
    @media screen and (max-width: $on-palm) {
      width: 100%;
      max-width: 100%;
      margin-bottom: 0;
    }
    max-width: 57%;
  }

  #resources {
    box-sizing: border-box;
    @media screen and (max-width: $on-palm) {
      width: 100%;
      margin: 0;
      margin-bottom: 20px;
    }

    width: 40%;
    margin-left: 20px;

    .resource-element {
      border: 1px solid lightblue;
      border-radius: 5px;
      padding: 10px;
      margin-bottom: 10px;

      a { color: #33C3F0; }

      p {
        width: 100%;
        font-size: 11px;
        padding-top: 10px;
      }
    }
  }
}

.complete, .next, .slides, .prep {
 display: block;
 position: absolute;
 right: 10px;
 letter-spacing: .2rem;
 font-weight: 600;
 text-transform: uppercase;
 line-height: 1.3;
 font-size: 10px;
}

.complete {
 color: green;
 top: 10px;
}

.next {
 color: orange;
 top: 10px;
}

.slides {
 color: lightpink;
 top: 40px;
}

.prep {
 color: lightblue;
 top: 25px;
}
