// Slides page styles

#slides-page {
  background: $grey-color;
  * { box-sizing: border-box; }

  main {
    margin-top: 100px;
    padding: 0;
    width: 100%;
    height: 60vh;

    @media screen and (min-width: $on-palm){
      overflow: hidden;
      position: relative; }
  }

  .page-piece {
    padding: 0 60px;
    width: 100%;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;

    @media screen and (max-width: $on-palm - 1) {
      padding-bottom: 60px;
    }

    @media screen and (min-width: $on-palm) {
      position: absolute;
      top: 0;
      height: 60vh;
    }

    .sub-header-container {
      height: 5vh;
    }

    a { display: block; }

    .slide-content-container {
      height: 70vh;
      width: 100%;
      overflow: hidden;
      margin: 10px auto;

      .slide-content {
        padding: 20px;
        border: 1px solid $grey-color-light;
        margin: auto;
        border-radius: 5px;
        width: 80%;
        color: white;
        * { font-size: 24px; };


        p {
          margin-bottom: 10px;
          &:last-child { margin-bottom: 0; }
        }

        ul {
          text-align: left;
          margin-left: 30px;
        }

        @media screen and (min-width: $on-palm) {
          height: 37vh;
          overflow: auto;
        }
      }
    }

  }

  .part-zero  { color: #19faef; }
  .part-one   { color: #A3FF92; }
  .part-two   { color: #FFF279; }
  .part-three { color: #FFA93A; }
  .part-four  { color: #E476FF; }
  .part-five  { color: #DAC9FF; }


  .footer {
    @media screen and (max-width: $on-palm - 1) {
      display: none;
    }
    background-color: $grey-color;

    .text {
      a { color: white; }
      text-align: center;
      padding-top: 0; }
  }
}
