<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  <link rel="canonical" href="{{ site.url }}{{ site.baseurl }}{{ page.url }}" />

  <title>{% if page.title == "Home" %}{{ site.title }}{% else %}{{ page.title }}{% endif %}</title>

  <!-- Raleway font for the skeleton -->
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

  <!-- FontAwesome files -->
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/production/stylesheets/font-awesome.min.css">

  <!-- Site's compiled CSS -->
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/production/stylesheets/main.min.css">

  <!-- Favicon -->
  <link rel="shortcut icon" href="{{ site.baseurl }}/assets/production/images/favicon.ico">

</head>
