* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  text-align: center;
  background: lightgrey;
  height: 100vh;
  padding: 100px;
}

main {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.choice-boxes {
  display: flex;
  flex-direction: column;
}

.box {
  width: 200px;
  border: 1px solid white;
  border-radius: 5px;
  margin: 10px;
  cursor: pointer;
  background: lightgrey;
  padding: 1em 0; 
}

.results {
  height: 80px;
}

#results-area {
  margin: 0;
  color: green;
  display: none;
}

#computer .box:hover {
  cursor: initial;
}
