---
layout: default
---

{% assign post = page %}

<div class="container">
  <article class="post">
    <div class="post-page-header">
      <h1 class="standard-large-header">{{ page.title }}</h1>

      <div class="post-description">
        <span class="post-status">Description:</span>
        <span class="content">{{ post.description }}</span>
      </div>

      <div class="post-description">
        <span class="post-status">Status:</span>
        <span class="content">{{ post.status }}</span>
      </div>
    </div>

    <div>
      {{ content }}
    </div>
  </article>

  <hr>

  <div>
    <h2 class="standard-large-header">Comments</h2>

    <div id="disqus_thread"></div>
      <script>
        /**
        *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
        *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
        /*
        var disqus_config = function () {
        this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
        };
        */

        (function() { // DON'T EDIT BELOW THIS LINE
          var d = document, s = d.createElement('script');
          s.src = 'https://http-estherleytush-com-wix-js-class.disqus.com/embed.js';
          s.setAttribute('data-timestamp', +new Date());
          (d.head || d.body).appendChild(s);
          })();
      </script>

      <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  </div>
</div>

<script id="dsq-count-scr" src="//http-estherleytush-com-wix-js-class.disqus.com/count.js" async></script>
